@import "tailwindcss";

@theme {
  --color-primary: #fac486;
  --color-primary-dark: #ff8e42;
  --color-secondary: #FFE0B2;
  --color-bg-app: #FFF3E0;
  --color-bg-card: #ffffff;
  --color-bg-light: #f7f9fa;
  --color-border: #edf1f5;
  --color-border-dark: #e1e8ee;
  --color-text-primary: #292e33;
  --color-text-secondary: #6c7680;
  --color-text-muted: #98a5b3;
  --color-text-accent: #525c66;
  --color-bg-overlay: #101010;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100 900;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
}

html, body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
